# Assignment-1

In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*            : Expression(Mathematical operators)
'hello'      : Value (String) 
-87.8        : Value (Float)
-            : Expression(Mathematical operators)
/            : Expression(Mathematical operators)
6            : Value (Integer)

In [ ]:
2. What is the difference between string and variable?

String:String is a one of the data type which collection of alphabets, words or other characters. (ex -abcsd)
variable : Variable is a container which can store the value(data) and this data can be of int, float, str data-type.

In [ ]:
3.Describe three different data types.

 a.Int : Int datatype is used to repersent the integer values (eg. a = 123, b = -421)

 b.float : Float datatype is used to repersent the real numbers(floating point) (eg. c = 12.34, d = -3.69)

 c.string: String is used to repersent the sequence of characters. Also the characters can be numbers, special character, and alphabates. (eg. s1 = "FSDS!", s2 = "<!@87847")

In [ ]:
4. What is an expression made up of? What do all expressions do?

Expression : An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

Expression can used to return some other type of value.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Assignment statement : It is the statement where some value or expression is assigned to a variable or constant.
Difference : The difference is that expression itself is assigned to a variable or constant.

For Eg: spam = 10 * i
In the example " spam = 10 i " is a assignment statement whereas the " 10 a " is an expression.

In [3]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [ ]:
bacon will contain 22.

In [ ]:
bacon = 22

In [4]:
bacon +1

23

In [5]:
print(bacon)

22

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
Ans:
'spam' + 'spamspam' = 'spamspamspam'
'spam' * 3 = 'spamspamspam'

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

Ans: Because the variable declartion in python is that the variable name must start with a alphabate or underscore '_'

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:
for integer: int()
for floating: float()
for string : str()

In [9]:
int(444)

444

In [10]:
float(12.4)

12.4

In [11]:
str("Nitin")

'Nitin'

In [12]:
str()

'363'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans:concatenate operation between string and int is not possbile. So it will throw an error
Fix: To fix this error we can typecast the int value using str(99)

In [13]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [14]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'