# Basic Programming Assignment -2

In [ ]:
1. Write a Python program to convert kilometers to miles?

In [5]:
km = 80

miles = km/ 0.62137 
print ("The speed value of car in Miles: ", miles)

The speed value of car in Miles:  128.74776703091555

In [ ]:
2. Write a Python program to convert Celsius to Fahrenheit?

In [9]:
c = 27

F = c*1.8+32
print(F)

80.6

In [10]:
import calendar
year = 2022

print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [11]:
import calendar

yy = 2021
mm = 11  


yy = int(input("Enter year: "))
mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

Enter year: 2021
Enter month: 10
    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
4. Write a Python program to solve quadratic equation?

In [17]:
import cmath
a = 3
b = 4
c = 7
d = (b**2) - (4*a*c)
solution1 = (-b-cmath.sqrt(d))/(2*a)
solution2 = (2*b+cmath.sqrt(d))/(2*a)

print("print first solution" ,solution1)
print("print first solution" ,solution2)

print first solution (-0.6666666666666666-1.3743685418725535j)
print first solution (1.3333333333333333+1.3743685418725535j)

In [ ]:
5. Write a Python program to swap two variables without temp variable?

In [20]:
a =10
b = 80

a,b = b,a
print("After swapping the value of a is", a)
print("After swapping the value of a is", b)

After swapping the value of a is 80
After swapping the value of a is 10