# Write an SQL query to print the first three characters of  FIRST_NAME from Workertable.

In [ ]:
Sol:
SELECT SUBSTRING(first_name,1,3) FROM employees;

# Write an SQL query to find the position of the alphabet (‘a’) in the first name

In [ ]:
Sol:
Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Bezalel';

# Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:
Sol:
SELECT DepartmentName, MAX(Salary) 
FROM worker e RIGHT JOIN Department d ON e.DepartmentId = d.DepartmentID 
GROUP BY DepartmentName