In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [2]:
import mysql.connector as conn

In [ ]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = "0407")

In [8]:
mydb

In [9]:
cursor = mydb.cursor()

In [12]:
cursor.execute("create database ineuron")

In [16]:
cursor.execute('create table ineuron.ineuronemployee(studentid INT(10) ,firstname VARCHAR(30)  ,lastname VARCHAR(30) ,regid INT(10) ,classname VARCHAR(30))')

In [19]:
cursor.execute('use  ineuron')

In [20]:
cursor.execute('show tables')

In [21]:
cursor.fetchall()

[('ineuronemployee',)]

In [24]:
cursor.execute('insert into ineuronemployee values(423423 , "sudh" , "kumar" , 2344323 , "FSDS")')

In [ ]:
cursor.execute("select * from table name  where ")

In [25]:
mydb.commit()

In [27]:
cursor.execute("select * from  ineuronemployee")

In [28]:
cursor.fetchall()

[(423423, 'sudh', 'kumar', 2344323, 'FSDS')]

In [ ]:
#1 . take a data set from attached URL https://archive.ics.uci.edu/ml/datasets/Car+Evaluation
#2 . create a database called as cardataset
#3 . create a table called as car with a column name given in dataset description
#4 . Dump all the data into car table 
#5 . try to check weather all the data is aviable inside your table or not 
#6 . try to group all the data with COL1 AND count occurences of each and every record based on col1 value 
#7 . Try to filter a record where col 3 value will be 4 .
#8.  Try to update a col 3 value with 8 whereever you have value equal to 2 
#9 . try to delete table 
#10 .   Try to delete database