## Python Basic Assignment 16

## 1 Create a list called years_list, starting with the year of your birth, and each year thereafter untilthe year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [8]:
year_list = [1990, 1991, 1993, 1995, 1997, 2000]
year_list

[1990, 1991, 1993, 1995, 1997, 2000]

## 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [10]:
year_list[5]

2000

## 3 In the years list, which year were you the oldest?

In [12]:
year_list[-1]

2000

## 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [17]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

## 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [19]:
things[1].capitalize()
print(things[1].capitalize())
print(things)

Cinderella
['mozzarella', 'cinderella', 'salmonella']

## 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [20]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

## 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [23]:
surprise[-1] = surprise[-1][::-1]
surprise[-1] = surprise[-1].capitalize()
surprise

['Groucho', 'Chico', 'Harpo']

## 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [24]:
e2f = {
    "dog" : "chien",
    "cat" : "chat",
    "walrus": "morse"
}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## 9. Write the French word for walrus in your three-word dictionary e2f.

In [25]:
e2f['walrus']

'morse'

## 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [35]:
f2e = {x:y for (y,x) in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## 11. Print the English version of the French word chien using f2e.

In [36]:
f2e['chien']

'dog'

## 12. Make and print a set of English words from the keys in e2f.

In [29]:
print(set(e2f.keys()))
set(e2f.keys())

{'walrus', 'cat', 'dog'}

{'cat', 'dog', 'walrus'}

## 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [30]:
lst_strs = ['Henri', 'Grumpy', 'Lucy']
animals = {
          "cats": lst_strs,
          "octopi": {},
          "emus" : {}
          }
life = {
       "animals": animals,
       "plants": {},
       "other": {}
       }

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

## 14. Print the top-level keys of life.

In [31]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

## 15. Print the keys for life['animals'].

In [32]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

## 16. Print the values for life['animals']['cats']

In [33]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']