In [1]:
import pandas as pd

In [5]:
#Series
ice_cream = ["chocloate", "banana", "mango", "vanilla"]
pd.Series(ice_cream)

0    chocloate
1       banana
2        mango
3      vanilla
dtype: object

In [3]:
lottery = [4, 6, 8, 9, 2, 1, 8, 0]
pd.Series(lottery)

0    4
1    6
2    8
3    9
4    2
5    1
6    8
7    0
dtype: int64

In [4]:
rgistration = [True, False, False, True, True]
pd.Series(rgistration)

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [6]:
#Dictionary
webster = {"dog": "is a animal",
          "Banana": "IS a fruit",
          "cyan": "A color"}
pd.Series(webster)

dog       is a animal
Banana     IS a fruit
cyan          A color
dtype: object

In [12]:
#Attributes
About_me= ["Smart", "handsome", "Brilliant", "Humble"]
s = pd.Series(About_me)
s

0        Smart
1     handsome
2    Brilliant
3       Humble
dtype: object

In [13]:
s.values

array(['Smart', 'handsome', 'Brilliant', 'Humble'], dtype=object)

In [14]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
s.dtype

dtype('O')

In [17]:
#Methods
prices = [22.99, 4.45, 1.35]
s = pd.Series(prices)
s

0    22.99
1     4.45
2     1.35
dtype: float64

In [19]:
s.sum()

28.79

In [20]:
s.prod()

138.112425

In [21]:
s.mean()

9.596666666666666

In [27]:
fruits= ["Apple", "Banana", "Mango", "Blueberry","Plum", "watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "thursday", "Friday", "Monday"]
#pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
#pd.Series(fruits, index = weekdays)

Monday            Apple
Tuesday          Banana
Wednesday         Mango
thursday      Blueberry
Friday             Plum
Monday       watermelon
dtype: object