### Write an SQL query to fetch intersecting records of two tables.

In [ ]:
SELECT worker.Emp_no,worker.First_Name,worker_clone.Salary,worker_clone.Date_of_Joining FROM worker LEFT JOIN worker_clone on worker

### Write an SQL query to show records from one table that another table does not have.

In [ ]:
Sol:
    SELECT t1.First_Name FROM worker t1 LEFT JOIN worker_clone t2 ON t2.First_Name = t1.First_Name WHERE t2.First_Name IS NULL