## Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
Sol:
    SELECT First_Name, Salary FROM worker e1 WHERE 5-1 = (SELECT COUNT(DISTINCT Salary) FROM worker e2 WHERE e2.Salary > e1.Salary

### Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
Sol:
    Select distinct W.First_Name, W.Salary from worker W, worker W1 where W.Salary = W1.Salary and W.First_Name != W1.First_Name