### Write an SQL query to show only odd rows from a table.

In [ ]:
sol:
    select * from worker where Emp_no %2!=0

### Write an SQL query to clone a new table from another table.

In [ ]:
Step 1. CREATE TABLE 'worker 1'
Step 2. CREATE TABLE `CLONE_TBL
Step 3. INSERT INTO CLONE_TBL