### Write an SQL query to show the top n (say 10) records of a table

In [ ]:
Sol: 
    Select Top 10* from worker

### Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
Sol: 
    Select max(Salary) from worker where Exists (Select TOP (5) Salary from worker order by Salary desc)