### Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
Sol:
    Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

### Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
Sol:
    SELECT Emp_no, COUNT(Emp_no) FROM worker GROUP BY Emp_no HAVING COUNT(Emp_no)>1;

### How to remove duplicate rows from worker table.

In [ ]:
 Ans.
    Duplicate rows can be removed through DELETE FROM syntax