In [13]:
import pandas as pd
import numpy as np

In [36]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"], squeeze = True)
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [17]:
google.count()

3012

In [18]:
len(google)

3012

In [19]:
google.sum()

1006942.0

In [20]:
google.mean()

334.31009296148744

In [21]:
google.sum() / google.count()

334.3100929614874

In [22]:
google.max()

782.22

In [23]:
google.min()

49.95

In [24]:
google.median()

283.315

In [25]:
google.mode()

0    291.21
dtype: float64

In [26]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [28]:
google.mean()

334.31009296148744

In [30]:
max(google)

782.22

In [31]:
#count method
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [33]:
pokemon.value_counts().sum()

721

In [35]:
pokemon.count()

721

In [38]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"], squeeze = True)
google.head(10)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
7    50.95
8    51.13
9    50.07
Name: Stock Price, dtype: float64

In [44]:
def classify_performance(number):
    if number<100:
        return "ok"
    
    elif number >=100 and number <400:
        
        return "satisfactory"
    else:
        return "incredible!"

In [46]:
google.apply(classify_performance).tail()

3007    incredible!
3008    incredible!
3009    incredible!
3010    incredible!
3011    incredible!
Name: Stock Price, dtype: object

In [47]:
google.apply(lambda stock_price : stock_price+1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [48]:
google.head(5)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [ ]:
#MAP METHOD

In [49]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon_names.head(6)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object

In [54]:
pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon_names.head(6)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Name: Type, dtype: object

In [55]:
pokemon_names.map(pokemon_types)

Pokemon
Bulbasaur     NaN
Ivysaur       NaN
Venusaur      NaN
Charmander    NaN
Charmeleon    NaN
             ...
Yveltal       NaN
Zygarde       NaN
Diancie       NaN
Hoopa         NaN
Volcanion     NaN
Name: Type, Length: 721, dtype: object